*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.footer-main-div{
    width:100%;
    height:auto;
    margin:auto;
    background: #272727;
    padding: 20px 0px; 
  
}
.footer-social-icons{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-social-icons ul{
	margin:0px ;
	padding:0px ;
	text-align: center;
}
.footer-social-icons ul li{
	display:inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100px;
	background: #32CD32;
}
.footer-social-icons ul li a{
	color:#272727;
	font-size: 25px;
}
.footer-social-icons ul li a i{
	line-height: 50px;
}
.footer-menu-one{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 30px;
}
.footer-menu-one ul{
	margin:0px;
	padding:0px;
	text-align: center;
}
.footer-menu-one ul li{
	display: inline-block;
	margin:0px 15px;
}
.footer-menu-one ul li a{
	font-family: arial;
	font-size:15px;
	font-weight: 600;
	color:#fff;
	text-transform:uppercase;
}
.footer-menu-two{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 10px;
}
.footer-menu-two ul{
	margin:0px;
	padding:0px;
	text-align: center;
}
.footer-menu-two ul li{
	display: inline-block;
	margin:0px 15px;
}
.footer-menu-two ul li a{
	font-family: arial;
	font-size:15px;
	font-weight: 600;
	color:#fff;
	text-transform:uppercase;
}
.servicio-cliente{
	margin:0px 20px;
    column-count:3;

    column-gap:25rem;
}

